<div ng-init="getUsers()" class="main-container" id="main-container">
	<div class="main-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<th class="center">Primer Nombre</th>
							<th class="center">Primer Apellido</th>
							<th class="center">Login</th>
							<th class="center">N&uacutemero Identificaci&oacuten</th>
							<th class="center">Perfil</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in  listUsers ">
							<td>{{ user.primerNombre }}</td>
							<td>{{ user.primerApellido }}</td>
							<td>{{ user.login }}</td>
							<td>{{ user.numeroDocumento }}</td>
							<td>{{ user.perfil.nombre }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="hr hr-18 dotted hr-double"></div>

			<div class="hr hr-18 dotted hr-double"></div>
		</div>
	</div>
</div>
<!-- PAGE CONTENT ENDS -->
</div>